<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <display-name>bthdg</display-name>
  <servlet>
    <servlet-name>tst</servlet-name>
    <servlet-class>bthdg.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tst</servlet-name>
    <url-pattern>/tst</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>bthdg.servlet.Listener</listener-class>
  </listener>

</web-app>
